<section>
  <h2>Killer game {{ game.id }}</h2>
  <p>Description: {{ game.desc }}</p>
  <p>Organiser: {{ game.organiser.username }}</p>
  {{#if button }} <a href="/killers/edit/{{ game.id }}" class="btn btn-info">Edit game</a>{{/if }}

  {{#each rounds }}
    <h5>Round {{ @key }} (Week {{ week }})</h5>
    
    <table class="table">
      <thead>
        <tr>
          <th>Player</th>
          <th>Fixture</th>
          <th>Prediction</th>
          <th class="hidesmall">Date</th>
          <th>Result</th>
          <th>Lives</th>
        </tr>
      </thead>
      <tbody>
      {{#each entries }}
        <tr>
          <td><a href="/users/{{ uid }}">{{ user }}</a></td>
          <td>{{ fixture }} {{#if editable }}<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editKiller">Edit</button>{{/if }}</td>
          <td>{{ pred }}</td>
          <td class="hidesmall">{{ date }}</td>
          <td>{{ result }}</td>
          <td class="life">{{{ livesLeft }}}</td>
        </tr>
        {{#if editable }}
        {{#with ../../edit }}
        <tr>
          <td colspan="6">
            <form action="/killers/{{ kentry.killer_id }}" method="post" data-kid="{{ kentry.killer_id }}" data-uid="{{ kentry.user_id }}">
              <input type="hidden" id="addKillerKyid" name="kyid" value="{{ kentry.id }}">
              <input type="hidden" id="addKillerKid" name="kid" value="{{ kentry.killer_id }}" />
              <input type="hidden" id="addKillerUid" name="uid" value="{{ kentry.user_id }}" />
              <input type="hidden" id="addKillerRid" name="rid" value="{{ kentry.round_id }}">
              <input type="hidden" id="addKillerWid" name="wid" value="{{ kentry.week_id }}">
              <input type="hidden" id="addKillerMid" name="mid" value="{{ kentry.match.id }}">
              <input type="hidden" id="addKillerHomeId" name="homeId" value="{{ kentry.match.TeamA.id }}" />
              <input type="hidden" id="addKillerAwayId" name="awayId" value="{{ kentry.match.TeamB.id }}" />
              <label for="addKillerHome">Home
                <input id="addKillerHome" name="home" type="text" value="{{ kentry.match.TeamA.name }}" />
              </label><br />
              <label for="addKillerAway">Away
                <input id="addKillerAway" name="away" type="text" value="{{ kentry.match.TeamB.name }}" />
              </label><br />
              <label for="addKillerPred">Prediction
                <select name="pred" id="addKillerPred">
                  <option value="1">Home</option>
                  <option value="X">Draw</option>
                  <option value="2">Away</option>
                </select>
              </label><br />
              <label for="addKillerDate">Date:
                <select name="date" id="addKillerDate">
                  {{#each dates }}
                  <option value="{{ id }}" {{#if sel }}selected="selected"{{/if }}>{{ date }}</option>
                  {{/each }}
                </select>
              </label>
              <h6>Used teams</h6>
                <ul>
                  {{#each teams }}
                  <li>{{ team.name }}</li>
                  {{/each }}
                </ul>
                <input type="submit" class="btn btn-sm btn-primary" />
            </form>
          </td>
        </tr>
        {{/with }}
        {{/if }}
      {{/each }}
      </tbody>
    </table>
  {{/each }}
  <p>See <a href="/killers">all</a> killer games.</p>
</section>

