<nav id="sidebar" role="navigation">
  <div class="sidebar-content">
    <section class="sidebar-header">
      <p><a href="/" title="Home"><img src="/img/gm_logo.png" alt="Goalmine logo" height="120px" width="120px" /></a></p>
      {{#if user.image}}<img src="{{ user.image }}" />{{/if }}
        {{#if user }}
        {{ user.username }} 
        {{#if user.admin }}
        <span class="badge badge-warning">admin</span> 
        {{/if }}  
        <a href="/logout">logout</a>
      {{ else }}
        <a href="/login">login</a>
      {{/if }}    
    </section>
    <hr />

    {{#if user.goalmine }}
    <section>
      <h5>Goalmine <small id="gm-rank">{{#if user.gmrank }}({{ user.gmrank.points }}pts, {{ ordinal user.gmrank.rank }}){{/if }}</small></h5>
      <ul id="gm-list"></ul>
      Balance: {{ ledger user.balance.ledger }}
    </section>
    <hr />
    {{/if }}

    {{#if user.tipping }}
    <section>
      <h5>Tipping <small class="tprank">{{#if user.tprank }}({{ user.tprank.balance }}, {{ ordinal user.tprank.rank }}){{/if }}</small></h5>
      <ul id="tp-list"></ul>
    </section>
    <hr />
    {{/if }}

    {{#if user.killer }}
    <section>
      <h5>Killer</h5>
      <ul id="k-list"></ul>
    </section>
    <hr />
    {{/if }}

    {{#if user.admin }}
    <section>
      <h5>Admin</h5>
      <ul>
        <li>{{#if user.pending }}<a href="/admin/pending">Pending results</a> <span class="badge badge-success">{{ user.pending }}</span>{{ else }}No results pending{{/if }}</li>
        <li><a href="/admin/email">Send bulk email</a></li>
        <li><a href="/posts/add">Create new post</a></li>
        <li><a href="/killers/add">Add new killer game</a></li>
      </ul>
    </section>
    <hr />
    {{/if }}

    <section>
      <h5>Data</h5>
      <ul>
        <li><a href="/weeks">weeks</a></li>
        <li><a href="/standings">standings</a></li>
        <li><a href="/teams">teams</a></li>
        <li><a href="/leagues">leagues</a></li>
      </ul>
    </section>
    <hr />

    <section>
      <p><a href="/pages/general"><i class="fas fa-question-circle"></i> Help</a></p>
    </section>

  </div>

  <section class="sidebar-menu">
    <div id="sidebarToggle">
      <button class=""><i class="fas fa-bars"></i></button>
      <span class="menu-label">HIDE</span>
    </div>
  </section>

</nav>
<style>
  .sidebar-content {
    float: left;
    width: 220px;
  }
  .sidebar-menu {
    float: right;
    width: 30px;
    cursor: pointer;
  }
  .menu-label {
    display: block;
    transform: rotate(90deg);
    padding-left: 0.5em;
    color: #eee;
    vertical-align: middle;
  }
</style>