<h2>killer game {{ kid }} update</h2>
<h3>{{ username }}: ❤️</h3>

<p>Your prediction for Killer game {{ kid }} was incorrect and you lost your final life. However, all other remaining players also died, so you have all been resurrected 🧟, with 1 life. Use it wisely.</p>
<p>You can no longer use the following teams in this game:</p>
<ul>
  <li>{{ teama }}</li>
  <li>{{ teamb }}</li>
</ul>
<p>You can pick your next match <a href="https://goalmine.eu/killers/{{ kid }}">here</a>, and see all unavailable teams for this game.</p>

{{>emfooter }}