<p>Hi, {{ username }}</p>

<h3>{{ username }}: ❤️❤️❤️</h3>

<p>You've been added as a player for the  new Killer game ({{ kid }}):</p>
<p>{{{ description }}}</p>

<p>You can pick a new game for round one from <a href="https://goalmine.eu/killers/{{ kid }}">here</a> (or use this link: https://goalmine.eu/killers/{{ kid }})</p>

<p>Remember, you may pick any game in the given week in the English Leagues (Premiership/Championship/League 1/League 2). If you guess the result incorrectly, or the match does not take place that week (for any reason), you will lose one of your three lives.</p>
<p>Once you have picked a match, you <i>cannot</i> use those two teams again for the remainder of the game, so choose wisely.</p>

{{>emfooter }}
