<section>
  <h3>Weeks</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Week</th>
        <th>Dates</th>
        <th>Status</th>
        <th>Predictions</th>
        <th>Bets</th>
      </tr>
    </thead>
    <tbody>
      {{#each data }}
      <tr>
        <td><a href="/weeks/{{ id }}">{{ id }}</a></td>
        <td>{{ start }}-{{ end }}</td>
        <td>{{ label }}</td>
        <td>{{#if matches }}<a href="/predictions/{{ id }}">View</a>{{/if }}</td>
        <td>{{#if matches }}<a href="/bets/{{ id }}">View</a>{{/if }}</td>
      </tr>
      {{/each }}
    </tbody>
  </table>
</section>