<section>
  <a class="btn btn-info" href="/weeks/edit/{{ week.id }}">Edit</a>
  <table>
    <caption>Week {{ week.id }}</caption>
    <thead>
      <tr>
        <th>Date</th>
        <th>Fixture</th>
        <th>League</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      {{#each matches }}
      <tr>
        <td>{{ fdate }}</td>
        <td><a href="/matches/{{ id }}">{{ fixture }}</a></td>
        <td><span class="flag-icon flag-icon-{{ league.country }}"></span> <a href="/leagues/{{ league.id }}">{{ league.name }}</a></td>
        <td>{{ result }}</td>
      </tr>
      {{/each }}
    </tbody>
  </table>
</section>
