<section>
  <h2><span class="flag-icon flag-icon-{{ team.country }}"></span> {{ team.name }}</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="column">P</th>
        <th scope="column">W</th>
        <th scope="column">D</th>
        <th scope="column">L</th>
        <th scope="column">GF</th>
        <th scope="column">GA</th>
        <th scope="column">GD</th>
        <th scope="column"><abbr title="Average points (3 for win, 1 for draw)">Pts</abbr></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#with summary }}
        <td>{{ p }}</td>
        <td>{{ w }}</td>
        <td>{{ d }}</td>
        <td>{{ l }}</td>
        <td>{{ gf }}</td>
        <td>{{ ga }}</td>
        <td>{{ gd }}</td>
        <td>{{ pts }}</td>
        {{/with }}
      </tr>
    </tbody>
  </table>
  <table class="table">
    <thead>
      <tr>
        <th scope="column">Week <small class="hidesmall">(date)</small></th>
        <th scope="column">League</th>
        <th scope="column">Opponent</th>
        <th scope="column">Result</th>
      </tr>
    </thead>
    <tbody>
      {{#each matches }}
      <tr>
        <td><a href="/weeks/{{ week }}">{{ week }} <small class="hidesmall">({{ date }})</small></a></td>
        <td><span class="flag-icon flag-icon-{{ league.country }}"></span> <a href="/leagues/{{ league.id }}">{{ league.name }}</a></td>
        <td><span class="flag-icon flag-icon-{{ opponent.country }}"></span> <a href="/teams/{{ opponent.id }}">{{ opponent.name }}</a></td>
        <td>{{ result }}</td>
      </tr>
      {{/each }}
    </tbody>
  </table>

</section>