<section>
  <h3>{{ title }}</h3>
{{!-- if this is an 'add' match, put the form at the top --}}
{{#unless edit }}
{{> addeditmatch }}
{{/unless }}

  {{#if matches }}
  <h3>Current Matches</h3>
  <table class="table">
    <thead>
      <tr>
        {{#if user.admin }}
        <th>Admin</th>
        {{/if }}
        <th>Date</th>
        <th>Fixture</th>
        <th>League</th>
      </tr>
    </thead>
    <tbody>
      {{#each matches }}
      <tr>
        {{#if ../user.admin }}
        <td>
          <a title="manage" href="/matches/edit/{{ id }}" class="btn btn-sm btn-info">🛠</a>
          {{#if deps }}
            <button title="this match has {{ deps }} {{ pluralise deps 'prediction' 'predictions' }}" class="btn btn-sm btn-success" disabled><span class="fas fa-lock" ></span></button>
          {{ else }}
            <button title="delete match" data-mid="{{ id }}" class="btn btn-sm btn-danger del">&times;</button>
          {{/if }}
        </td>
        {{/if }}
        <td>{{ fdate }}</td>
        <td>
          <a href="/matches/{{ id }}">{{ TeamA.name }} v {{ TeamB.name }}</a>
          {{#if goalmine }}<span title="goalmine" class="badge badge-primary">G</span>{{/if }}
          {{#if tipping }}<span title="tipping" class="badge badge-success">T</span>{{/if }}
          {{#if killer }}<span title="killer" class="badge badge-info">K</span>{{/if }}
          {{#if gotw }}<span title="gotw" class="badge badge-warning">GotW</span>{{/if }}
        </td>
        <td><span class="flag-icon flag-icon-{{ league.country }}"></span> <a href="/leagues/{{ league.id }}">{{ league.name }}</a></td>
      </tr>
        {{!-- if this is an 'edit' match , put the form underneath the match in question --}}
        {{#if edit }}
        <tr>
          <td colspan="4">{{> addeditmatch ../this }}</td>
        </tr>
        {{/if }}
      {{/each }}
    </tbody>
  </table>
  {{/if }}
</section>
