<section class="row justify-content-center">

  <div class="col-12">
    
    <table class="matchresult">
      <caption><span class="flag-icon flag-icon-{{ data.league.country }}"></span> <a href="/leagues/{{ data.league.id }}">{{ data.league.name }}</a>, {{ data.fdate }}</caption>
      <tbody>
        <tr>
          <th><a href="/teams/{{ data.TeamA.id }}">{{ data.TeamA.name }}</a></th>
          <td>{{ goals.[0] }}</td>
        </tr>
        <tr>
          <th><a href="/teams/{{ data.TeamB.id }}">{{ data.TeamB.name }}</a<</th>
          <td>{{ goals.[1] }}</td>
        </tr>
      </tbody>
    </table>

    <ul class="nav nav-tabs" role="tablist">
      {{#if data.predictions }}
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#predictions" role="tab">Predictions</a>
      </li>
      {{/if }}
      {{#if data.bets }}
      <li class="nav-item">
        <a class="nav-link {{#unless data.predictions }}active{{/unless }}" data-toggle="tab" href="#bets" role="tab">Bets</a>
      </li>
      {{/if }}
    </ul>

    <div class="tab-content">
      {{#if data.predictions }}
      <div class="tab-pane active" id="predictions" role="tabpanel">
        <table class="table">
          <thead>
            <tr>
              <th>Player</th>
              <th class="score">Pts</th>
            </tr>
          </thead>
          <tbody>        
          {{#each data.predictions }}
            <tr>
              <td><a href="/users/{{ user.id }}">{{ user.username }}</a></td>
              <td class="score pts{{ points }} {{#if joker}}joker{{/if }}">{{ pred }}</td>
            </tr>
          {{/each }}
          </tbody>
        </table>
      </div>
      {{/if }}
      {{#if data.bets }}
      <div class="tab-pane {{#unless data.predictions }}active{{/unless }}" id="bets" role="tabpanel">
        <table class="table">
          <thead>
            <tr>
              <th>Player</th>
              <th>Prediction</th>
              <th>Outcome</th>
            </tr>
          </thead>
          <tbody>
            {{#each data.bets }}
            <tr>
              <td>{{ user.username }}</td>
              <td>{{ prediction }}</td>
              <td class="money {{#if sign }}pos{{/if }}">{{ outcome }}</td>
            </tr>    
            {{/each }}
          </tbody>
        </table>
      </div>
      {{/if }}
    </div>
    
    {{#if editable }}
      <a class="btn btn-info" href="/matches/edit/{{ data.id }}">Edit</a>
      <button data-mid="{{ data.id }}" data-week="{{ data.week_id }}" id="deleteMatch" class="btn btn-danger">Delete</button>
    {{/if }}
    {{#if user.admin }}
      <div id="scoreUpdateButton">
        <button class="btn btn-info">Update Score</button>      
      </div>
      <div id="scoreUpdate">
        <input type="text" class="score" name="" pattern="\d{1,2}-\d{1,2}" placeholder="X-X" maxlength="5" data-mid="{{ data.id }}" />
      </div>

    {{/if }}

  </div>
</section>
